{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "ConnectionStrings": {
    "DefaultConnection": "YOUR_AZURE_SQL_CONNECTION_STRING"
  },
  "JwtSettings": {
    "SecretKey": "<FromEnvironment>",
    "Issuer": "InteractHub",
    "Audience": "InteractHubUsers",
    "ExpirationDays": 7
  }


  "AzureBlob": {
    "ConnectionString": "YOUR_CONNECTION_STRING_HERE"
  }
}
